doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="viewport",content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    title this is contact page
    link(rel="stylesheet",href="/assets/css/style.css")

  body
    h1 anti base
    p html boilerplate base.
    .test test. test.
    p test2 test2.

  script(src="/components/labjs/LAB.min.js")
  script(src="/assets/js/app.js")


